<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>AUP CAFETERIA ONLINE DELIVERY</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../../assets/images/aup.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="../../assets/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="home.component.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/custom.css">
    <script src="../js/modernizr.js"></script>
    <!-- Modernizr -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="politics_version">

    <!-- LOADER
    <div id="preloader">
        <div id="main-ld">
            <div id="loader"></div>
        </div>
    </div>
    end loader -->
    <!-- END LOADER -->

    <!-- Navigation
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="img-fluid" style="height: 9%; width: 9%;" src="../img/images.jpg" alt="" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> Menu <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../index.html">MENU</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <section id="home" class="main-banner parallaxie" style="background: url('../images/aup.png')">
        <div class="heading">
            <h1>AUP CAFETERIA ONLINE DELIVERY</h1>
            <p>"So whether you eat or drink,<br> or whatever you do,<br> do it all for the glory of GOD."
                <br> 1 Corinthians 10:31, NLT</p>
            <h3 class="cd-headline clip is-full-width">
                <span>“Food is an important part<br><hr> of a<b></b> balanced diet.”  <br><hr>—Fran Lebowitz</span>
                <span class="cd-words-wrapper"><br>
					<b class="is-visible"><br><hr><br>Keep Eating!!</b>
					<br><b>Enjoy Life!!</b>
					<b></b>

				</span> 
            </h3>
        </div>
    </section>

    <svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 85 100" preserveAspectRatio="none">
        <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z">
        </path>
    </svg>

    <div id="#" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h2>Healthy Qoutes for the Day!</h2>
                        <p>Do you think of some food as “good” and some as “bad”? Can you imagine just thinking of food as food: delicious, enjoyable, and sustaining? Can you imagine a life without avoiding “bad” foods – without dieting? Dieting can bring
                            out the worst in us. Research suggests that low-calorie and restrictive diets can make us anxious, irritable, frustrated, and depressed (Markey, 2015). In fact, just the act of trying to avoid certain foods makes us want them
                            more (Polivy & Herman, 2002). The key to successfully improving one’s health is to find a way to make healthier choices without starving or eliminating the foods you love.</p>


                        <a href="../index.html" class="sim-btn btn-hover-new" data-text="Order Now"><span>Order Now</span></a>
                    </div>
                    <!-- end messagebox -->
                </div>
                <!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="images/food.jpg" alt="" class="img-fluid img-rounded">
                    </div>
                    <!-- end media -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->
    <div id="about" class="section wb">
        <div class="container">
            <div class="section-title text-left">
                <h3>About Us</h3>
                <p></p>
            </div>
            <!-- end title -->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Thank you!</h3>
                                <p class="lead"> Thank you for reading!!</p>
                            </div>
                            <div class="testi-meta">
                                <h4><small></small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Computer Programmer</h3>
                                <p class="lead">I'm Jamleck R. Arzola, an irregular second year college student ,Working Student for almost 4 years at Adventist University of the Philippines . My dream is to be a professional debugger of a website or an app. I'm a bit
                                    good at sketching. One of my dream is to be a great son to my Parents, I want them to be proud of me. Yahoo!
                                </p>
                            </div>
                            <div class="testi-meta">
                                <img src="images/jam.jpg" alt="" class="img-fluid alignleft">
                                <h4>Jamleck R. Arzola<small>- BSIT</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Player</h3>
                                <p class="lead"> I'm Mateo Naz Jr., a second year student of Adventist University of the Philippines taking Bachelor of Scine in Information Technology. a fanatic of basketball,esport and a supporter of making things easier, just like creating
                                    AUP cafeteria online delivery. I'm able in Java but not in other programming languages but sooner or later i will explore other languages to achieve my passion and dream to be a programmer. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="images/me.jpg" alt="" class="img-fluid alignleft">
                                <h4>Mateo Naz Jr. <small>- BSIT</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Computer Programmer</h3>
                                <p class="lead"> I’m Lloyd Bolences, a second year student of Adventist University of the Philippines taking Bachelor of Science in Information Technology. Mostly fan of anime and advocate of making things easier, just like creating the
                                    AUP cafeteria online delivery. I’m comfortable at using JAVA programming language since it is the only language I know and im looking forward that I will learn the other programming language in order for me to achieve
                                    my dream, to be a computer programmer.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="images/lloyd.jpg" alt="" class="img-fluid alignleft">
                                <h4>Lloyd Bolences<small>- BSIT</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Leader</h3>
                                <p class="lead"> My name is Jared Ibañez, a second-year student at the Adventist University of the Philippines studying Information Technology. Born at Cabanatuan —and raised in Puting Kahoy, Silang, Cavite, I’ve basically lived my life
                                    exploring and widening my horizons in this small town of Cavite. I’ve engaged in many activities of this school: small group, choir, —-, you name it! However, when I was invited to play with the computer, I was hooked.
                                    It made me connect with millions of people across the globe enhancing our skills in terms of intellect and memory via video games.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="images/jared.jpg" alt="" class="img-fluid alignleft">
                                <h4>Jared Ibanez <small>- BSIT</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Web Developer</h3>
                                <p class="lead">I'm Hans Godriel P. Macaraan, a 2nd year student of Adventist University Of The Philippines, taking Bachelor of Science and Information teachnology. I want to become professional web developer someday. But for now i hope
                                    you enjoy our website. I hope that someday this AUP Cafeteria Online Delivery will implement to the cafeteria. I'm also using JAVA Programming language since it is the only language we know. And also i want to dedicate
                                    this project to my family and to my almighty father God. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="images/Hans.jpg" alt="" class="img-fluid alignleft">
                                <h4>Hans Godriel Macaraan<small>- BSIT</small></h4>
                            </div>

                            <p class="footer-company-name">All Rights Reserved. &copy; 2018
                                <a href="#"></a> AUP Online Delivery Team :
                                <a href="http://web1.aup.edu.ph/">AUP Website</a></p>
                        </div>
                    </div>
                </div>
                <!-- end container -->
            </div>
            <!-- end copyrights -->
            <footer>
                <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
                <div id="footer-bottom">
                    <div class="container clearfix">
                        <h1>Philosophy</h1>
                        <p id="footer-info">The work of education and the work of redemption are one: to restore in humanity the lost image of God through the harmonious development of the mental, physical, social, and spiritual faculties.</p>
                    </div>
                    <!-- .container -->
                </div>

                <div id="footer-bottom">
                    <div class="container clearfix">
                        <h1>Mission</h1>
                        <p id="footer-info">The adventist University of the Philippines is commited to provide quality bible-based education, nurturing students for academic excellence, Christ like character, and exemplary service</p>
                    </div>
                    <!-- .container -->
                </div>

                <div id="footer-bottom">
                    <div class="container clearfix">
                        <h1>Vision</h1>
                        <p id="footer-info">Adventist University of the Philippines envisions to be a leading adventist educational institution in the Asia-Pacific region by 2022. </p>
                    </div>
                    <!-- .container -->
                </div>
            </footer>
            <div class="copyrights">
                <div class="container">
                    <div class="footer-distributed">
                        <div class="footer-left">
                            <p class="footer-links">
                            </p>
                            <p class="footer-company-name">All Rights Reserved. &copy; 2019
                                <a href="#"></a> Visit us:
                                <a href="http://web1.aup.edu.ph/">Aup Website</a></p>
                        </div>
                    </div>
                </div>
                <!-- end container -->
            </div>
            <!-- end copyrights -->
            <!-- ALL JS FILES -->
            <script src="../js/all.js"></script>
            <!-- Camera Slider -->
            <script src="../js/jquery.mobile.customized.min.js"></script>
            <script src="../js/jquery.easing.1.3.js"></script>
            <script src="../js/parallaxie.js"></script>
            <script src="../js/headline.js"></script>
            <!-- Contact form JavaScript -->
            <script src="../js/jqBootstrapValidation.js"></script>
            <script src="../js/contact_me.js"></script>
            <!-- ALL PLUGINS -->
            <script src="../js/custom.js"></script>
            <script src="../js/jquery.vide.js"></script>
        </div>
    </div>

</body>

</html>
